.yarn_packages/*
coverage/*
docs/*
node_modules/*
src/*
tests/*
.directory
.gitignore
.yarnrc
Jenkinsfile
tsconfig.json
.eslintrc
test-results.xml
.nyc_output
.nycrc.json
.editorconfig
typedoc.json
yarn-error.log
